<html>
    <head>
        <title>
            <%= title %> 
        </title>
        <link rel="stylesheet" href="/styles/layout.css">
    </head>
    <body id="bod">
        <!-- this is callled partial code which is common to all the pages in the website -->
        <%- include('_header') %> 
            <%- body %> 
        <!-- footer and header are partials for this page -->
        <%- include('_footer') %>
    </body>
</html>