<link rel="stylesheet" href="/styles/sign-in.css">
<h1>
    Sign up
</h1>
<div class="sign-up">
    <form action="/users/create" method="POST">
        <label for="user-id">Email</label>
        <input type="email" name="email"  placeholder="email" required > <br>

        <label for="user-passwd">Password</label>
        <input type="password" name="password"  placeholder="password" required><br>

        <label for="confirm=passwd">Confirm Password</label>
        <input type="password" name="confirmPassword"  placeholder="confirm password" required><br>

        <label for="user-name">Username</label>
        <input type="text" name="name"  placeholder="username" required><br>

        <input type="submit" value="Sign Up"> 
    </form>
</div>
