<link rel="stylesheet" href="/styles/sign-in.css">
<h1>
    Sign In
</h1>
<div class="sign-up">
    <form action="/user/create-session" method="POST">
        <label for="user-id">Email</label>
        <input type="email" name="userId" id="" placeholder="email" required > <br> <br>
        <label for="user-passwd">Password</label>
        <input type="password" name="userPassword" id="" placeholder="password" required> <br> <br>
        <input type="button" value="Sign In"> 
    </form>
</div>
